<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous revenez dans l’immense hall d’entrée du Mirage. La jeune femme n’est plus à la réception. Les files d’attente sont assez importantes. De nombreux français font la queue et commence déjà à râler.</p>
	<p class="dialogue"><span class="parole">-- Attitude typiquement française !</span><span class="commentaire"> dit l’homme à sa conjointe sur votre gauche.</span></p>
	<p class="texte">Vous souriez devant cette vérité et survolez une nouvelle fois le comptoir du regard. Aucun doute, elle n’est plus là. Le changement de service a dû survenir entre temps.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<p class="question">Actions</p>
	<ul class="action list">
		<li>Si vous décidez de jouer de nouveau au machine à sous, <a href="vousetesleheros.php?chapitre=16" title="16" class="action">rendez-vous en 16</a>.</li>
		<li>Si vous décidez de composer le numéro de téléphone de Johanna, <a href="vousetesleheros.php?chapitre=8" title="8" class="action">rendez-vous en 8</a>.</li>
		<li>Si vous décidez de quitter le Mirage, <a href="vousetesleheros.php?chapitre=81" title="81" class="action">rendez-vous en 81</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
