<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous arrêtez de jouer. Il vous reste quelques jetons que vous glissez dans vos poches et vous quitter votre machine à sous. Une jeune femme blonde attire votre attention par ses cris de joie. Elle semble avoir gagner un bon millier de dollars. Elle exulte et se jette sur son voisin en criant “Yattaaaa”. Vous quittez la salle de jeux et le Mirage.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li><a href="vousetesleheros.php?chapitre=81" title="81" class="action">Rendez-vous en 81</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
