<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous commencez la lecture, mais le texte vous glace le sang... Vous interrompez la lecture et allez vous asseoir sur un banc en retrait. Vous reprenez votre lecture consciencieusement.</p>
	<div class="blocnotes">
		<p class="texte"><span class="lettre">04 février 2010 - Pitié ! Que quelqu'un m'entende...</span></p>
		<p class="texte"><span class="lettre">Je dois me dépêcher, je n'aurai peut être pas le temps de finir...</span></p>
		<p class="texte"><span class="lettre">Ils... Ils vont me retrouver. Je crois que je suis en train de devenir folle. Je suis couverte de sueur, de terre et... de sang... Je ne sais pas ce qu'ils me veulent. Je suis épuisée, je n'en peux plus de courir... Je ne sais pas pourquoi ils sont là, à Las Vegas, mais ils contrôleront bientôt toute la ville ! Mes vêtements sont sales, et je ne suis pas revenue ici depuis 3 jours. Il faut que je me change. Mais je sais qu'ils me voient... Ils ont des pouvoirs.</span></p>
		<p class="texte"><span class="lettre">L'un d'eux... Il me suit à la trace depuis samedi dernier... Il veut me tuer.</span></p>
		<p class="texte"><span class="lettre">Il n'est pas loin. Je regarde par dessus mon épaule et à chaque fois, je m'attends à le voir, juste là, debout contre mon rideau. Mon Dieu... Je suis certaine qu'il veut me tuer.</span></p>
		<p class="texte"><span class="lettre">Ils... ils sont plusieurs. Ils se déplacent en clan. Ce sont des monstres. Ils entrent dans ma tête et me donnent envie de faire... des choses... des choses horribles. Je n'arrive plus à m'arrêter de pleurer. Mes joues sont couvertes de rimmel séché, mélangé à la crasse et... personne ne peut m'aider !</span></p>
		<p class="texte"><span class="lettre">Oh non, mon Dieu !! Je recommence à vibrer, à sentir cette chaleur... Non... !!</span></p>
		<p class="texte"><span class="lettre">Ils... Ils sont là ! Je sais qu'ils sont là, sur le toit, dans mon garage ou juste derrière ma porte... Ils veulent me rendre dingue ! Ils veulent me tuer ! Ou me violer... Ils réclament mon corps et mes gémissements comme s'ils s'en nourrissaient. Ce sont des Démons...</span></p>
		<p class="texte"><span class="lettre">Qui que vous soyez, si vous lisez cette lettre : ne venez pas à Las Vegas ! Fuyez, tant que vous le pouvez ! Bientôt, cette ville sera un Enfer... Je le sais. Je le sens... Les autorités, et même la Mafia ne seront que des spectateurs désarmés.</span></p>
		<p class="texte"><span class="lettre">Qui que vous soyez... Si vous décidez de venir à Vegas, ce jour-là, votre destin sera scellé.</span></p>
		<p class="texte"><span class="lettre">Vanessa Lannir,</span></p>
	</div>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li><a href="vousetesleheros.php?chapitre=4" title="4" class="action">Rendez-vous en 4</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
