<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Le Lilim ne vous a pas suivi dans votre chute. Vous déployez vos ailes et le regardez se tenir dans l’ouverture béante que vous avez créée en vous jetant au travers de l’ascenseur. Mais le regard satisfait de ce Lilim vous inquiète alors que vous observez une aura bleutée s’échapper du corps du démon. Vous êtes de nouveau dans l’ascenseur, vous vous jetez à nouveau au travers de la verrière. </p>
	<p class="texte">Mais cette fois, dans cet espèce de remake, alors que vous déployez vos ailes, vous observez que le Lilim s’est jeté à votre suite. Vos ailes vous freine alors qu’il se jette sur vous.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous décidez d’esquiver par la gauche, <a href="vousetesleheros.php?chapitre=84" title="84" class="action">Rendez-vous en 84</a>.</li>
		<li>Si vous décidez d’esquiver par la droite, <a href="vousetesleheros.php?chapitre=20" title="20" class="action">Rendez-vous en 20</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
