<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">«Bonjour, vous êtes bien sur le répondeur de Johanna, merci de laisser votre message, je me ferais une joie de vous rappeler dès que possible.»</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<form action="vousetesleheros.php?chapitre=100" method="post">
		<dl style="clear: left;"> 
						<dt><label for="subject">Message:</label></dt> 
						<dd><textarea name="message"></textarea></dd>
		<dl>
		<input type="submit" value="Raccrocher"/>
	</form>
<!-- INCLUDE presentation/overall_footer.html -->  
