				</div><!-- Harahel : Fermeture de page-body -->
			</div>
			<div id="page-footer" class="noprint">
				<div class="navbar">
					<div class="inner">
						<ul class="linklist">
							<li style="margin-top:2px;"><a href="{U_INDEX}" accesskey="h" title="{L_INDEX}" class="navbar"><i class="fa fa-home fa-lg"></i>&nbsp;{L_INDEX}</a></li>
							<!-- IF not S_IS_BOT -->
								<!-- IF S_WATCH_FORUM_LINK --><li style="margin-top:2px;"><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" class="navbar"><i <!-- IF S_WATCHING_FORUM -->class="fa fa-eye-open fa-lg"<!-- ELSE -->class="fa fa-eye fa-lg"<!-- ENDIF -->></i>&nbsp;{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
								<!-- IF U_WATCH_TOPIC --><li style="margin-top:2px;"><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}" class="navbar"><i <!-- IF S_WATCHING_TOPIC -->class="fa fa-square-o"<!-- ELSE -->class="fa fa-eye fa-lg"<!-- ENDIF -->></i>&nbsp;{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
								<!-- IF U_BOOKMARK_TOPIC --><li style="margin-top:2px;"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}" class="navbar"><i class="fa fa-bookmark fa-lg"></i>&nbsp;{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
								<!-- IF U_BUMP_TOPIC --><li style="margin-top:2px;"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}" class="navbar"><i class="fa fa-toggle-up fa-lg"></i>&nbsp;{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
							<!-- ENDIF -->
							<li class="rightside"style="margin-top:2px"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}" class="navbar" title=""><i class="fa fa-trash-o fa-lg"></i>&nbsp;{L_DELETE_COOKIES}</a><!-- ENDIF --></li>
						</ul>
					</div>
				</div>
									
				<div class="copyright" id="logo_footer">
					<div>
						<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
						<!-- IF U_RESTORE_PERMISSIONS --><br/><a href="{U_RESTORE_PERMISSIONS}" title="{L_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
						<span style="display:block; text-align : center">
							{CREDIT_LINE}
							<br />Style par www.at-it.fr
							<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
						</span>
					</div>
				</div>
			</div>
			<div>
				<a id="bottom" name="bottom" accesskey="z"></a>
				<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
			</div>
			</div><!-- Harahel : Fermetur de wrapper central -->
		</div><!-- Harahel : Fermetur de wrapper droit -->
	</div><!-- Harahel : Fermetur de wrapper gauche -->
</body>
</html>
