<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous vous installez confortablement devant une machine à sous. Vos doigts se posent sur le tabouret galbé d'un cuir synthétique. L'assise est confortable. Tout est fait pour que vous vous sentiez à votre aise. Un porte-manteau se trouve à côté de chaque machine pour que vous vous installiez encore mieux. L'hôtel veut que vous dépensiez votre argent. Cela doit bien marcher, car les jetons défilent et, d'ailleurs, vous ne gagnez rien. Pas même une petite victoire avec deux trois jetons ! Rien ! Votre réserve de jetons diminue, mais vous poursuivez toujours avec cet espoir de gagner quelques jetons. Financièrement, vous n'en avez d'ailleurs pas forcément un grand besoin. C’est étonnant comme autour de vous le monde a disparu. Le jeu est captivant, mais les gains restent nuls.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<p class="question">Actions</p>
	<ul class="action list">
		<li>Si vous décidez de garder une petite réserve de jetons dans vos poches, <a href="vousetesleheros.php?chapitre=33" title="33" class="action">rendez-vous en 33</a>.</li>
		<li>Si vous décidez de tenter votre chance jusqu’au bout, <a href="vousetesleheros.php?chapitre=40" title="40" class="action">rendez-vous en 40</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
