<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Le Mirage... Rien qu'en prononçant ce nom, vous avez l'impression de vous évader. Cet hôtel fait parti des pionniers de Vegas et il n'a pas à rougir des nouveaux casinos construits depuis lors. Vous serez dans un premier temps séduit par son extérieur : des palmiers, de nombreux jardins dits secrets tant la faune et la flore sont omniprésentes et peuvent vous cacher des autres passants. Oui, déjà vous êtes ailleurs... Vous continuez votre visite pour entendre des bruits d'eau et vous découvrez des dauphins. Plaisant ce spectacle... Attendri par celui-ci, vous sursautez à un rugissement et vous admirez le plus joli spécimen de tigre blanc qui s'ébat avec ses frères et sœurs dans un décor en marbre blanc.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<p class="question">Actions</p>
	<ul class="action list">
		<li>Si vous décidez de poursuivre votre visite dans l’entrée du Mirage, <a href="vousetesleheros.php?chapitre=21" title="21" class="action">rendez-vous en 21</a>.</li>
		<li>Si vous décidez de reprendre votre route, <a href="vousetesleheros.php?chapitre=81" title="81" class="action">rendez-vous en 81</a>.</li>
	</ul>
</div> 
<!-- INCLUDE presentation/overall_footer.html -->  
