<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Fort de ces découvertes, vous pénétrez dans l'établissement en lui-même pour être captivé par le marbre omniprésent, les salles de jeux à profusion. Un petit arrêt devant un bar ou un lounge et vous continuez votre parcours pour vous laisser surprendre par l'aquarium géant du Mirage. Outre ses nombreux restaurants, vous avez aussi la possibilité de vous divertir dans deux nightclubs ou bien alors dans les deux salles de spectacle. Des rumeurs courent sur la destruction future du théâtre pour un nouveau projet tenu secret encore à l'heure d'aujourd'hui.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="heros">
		<li>Si vous décidez de tenter votre chance aux machines à sous, <a href="vousetesleheros.php?chapitre=14" title="14" class="action">rendez-vous en 14</a>,</li>
		<li>Si votre train de vie est très élevé, vous pouvez décider de vous rendre dans au High Limit Lounge. Auquel cas, <a href="vousetesleheros.php?chapitre=34" title="34" class="action">rendez-vous en 34</a>,</li>
		<li>Si vous décidez de quitter le Mirage, <a href="vousetesleheros.php?chapitre=81" title="81" class="action">rendez-vous en 81</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
