<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous ramassez le mouchoir et réalisez que la lettre n’est pas une publicité, mais manuscrite. Des mots comme «Pitié», «monstres», «Enfer» vous interpellent. Sans réfléchir vous ramassez la lettre et allez engueuler la jeune femme. Vous lui donnez le mouchoir et la sermonner. Le jeune enfant vous regarde étrangement et se tourne vers sa mère lui demandant pourquoi vous la disputez. Il se demande si elle a fait quelque chose de mal. La mère le regarde surprise. Elle prend le mouchoir et le glisse dans sa poche en disant à son fils qu’en effet, il ne faut pas jeter les mouchoirs par terre. </p>
	<p class="texte">Satisfait, vous tournez les talons et la laissez-là. Vous continuez d’avancer vers le Luxor, votre lettre à la main. Vous l’ignorez mais derrière vous, la marche avec son fils à la main. Et quand il regardera vers l’arrêt de bus, elle laissera glisser le mouchoir de sa poche pour qu’il reparte polluer la ville au gré des vents du désert. On ne change pas facilement le cœur des gens.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous décidez de lire la lettre, <a href="vousetesleheros.php?chapitre=51" title="51" class="action">rendez-vous en 51</a>.</li>
		<li>Si vous décidez de jeter la lettre dans une poubelle, <a href="vousetesleheros.php?chapitre=4" title="4" class="action">rendez-vous en 4</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
