<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Alors que vous jouez tranquillement depuis dix minutes, vous sentez du bout des doigts un morceau de papier dans le pot contenant les jetons. Johanna, sans doute la réceptionniste, a laissé son numéro de portable et son prénom sur le post-it. Sans doute n’a-t-elle pas résisté à votre charme angélique.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous décidez de retourner voir la jeune femme qui vous a délivré les jetons, <a href="vousetesleheros.php?chapitre=2" title="2" class="action">rendez-vous en 2</a>.</li>
		<li>Sinon vous continuer de jouer à la machine de sous. Vous êtes en veine, <a href="vousetesleheros.php?chapitre=16" title="16" class="action">rendez-vous en 16</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
