<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous approchez et vous penchez pour ramasser la lettre. Vous sentez alors comme une petite piqûre dans la nuque. Par réflexe, vous donnez une petite tape comme pour tuer un moustique. Vous regardez votre main. Rien ! Vous retournez, rien, si ce n’est cette jeune femme et son enfant toujours inconsolable.</p>
	<p class="texte">Vous ramassez la lettre et la dépliez pour la lire.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li><a href="vousetesleheros.php?chapitre=51" title="51" class="action">Rendez-vous en 51</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
