<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">L’ange déchu, le Lilim devant vous se nomme Heru Ur. C’est un des plus puissants guerriers Lilim. Ses lames se fichent dans votre poignet et elles vous clouent le bras à la paroi. Il est vif, vous voulez négocier des pourparlers, tentez de sauver votre âme en vendant des informations sur les anges, mais les griffes de son autre main transpercent le cœur de votre simulacre. Votre âme est arraché au corps humain que vous avez parasité. Vous tentez de regagner désespéremment l’Eden, mais votre âme est absorbée par la voleuse d’âmes d’Heru Ur. Tant pis, vous vous réconfortez en vous disant que vous n’avez pas eu le temps de trahir Dieu.
Vous sentez votre vie vous échapper. Le froid envahit votre corps peu à peu. Votre cœur se glace, votre âme se cristallise et le temps se fige. Est-ce cela le néant qu’on promet aux anges à leur mort ?</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li><a href="vousetesleheros.php?chapitre=96" title="96" class="action">Rendez-vous en 96</a> pour mourir.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
