<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous bondissez de toutes vos forces pour traverser la verrière noire de l’ascenseur. Heureusement, les réflexes de votre adversaire sont ceux d’un guerrier entraîné et il ne vous aurait certainement pas raté. L’ascenseur s’éloigne de vous, où c’est plutôt votre corps en plaine chute libre qui s’éloigne de l’ascenseur. Vous allez vous fracassez contre la paroi inclinée du Luxor.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous décidez de déplier vos ailes pour tenter d’échapper à une mort certaine,<a href="vousetesleheros.php?chapitre=55" title="55" class="action">rendez-vous en 55</a>.</li>
		<li>Si vous décidez de vous laissez choir et de sacrifier votre hôte humain,<a href="vousetesleheros.php?chapitre=9" title="9" class="action">rendez-vous en 9</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
