<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Le téléphone sonne, mais personne ne décroche, vous arrivez sur la boîte vocale de Johanna.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<p class="question">Choisissez votre race !</p>
	<ul class="action list">
		<li>Si vous souhaitez laisser un message, <a href="vousetesleheros.php?chapitre=93" title="93" class="action">rendez-vous en 93</a>.</li>
		<li>Sinon, <a href="vousetesleheros.php?chapitre=100" title="100" class="action">rendez-vous en 100</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
