<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous poursuivez votre chemin en regardant cette oasis sortie du désert par l’ambition débordante des humains. Sur le côté des enfants jouent avec des ballons et sont en admiration devant l’Excalibur. Ce casino a un côté particulièrement kitch. C’est sans doute pour cela qu’il est interdit à l’intérieur de prendre des photos. La publicité ne serait pas flatteuse. Mais pour un enfant, ce décor est transportant et vous rappelle les parcs d’attraction. </p>
	<p class="texte">L’un des enfants lâche son ballon gonflé à l’hélium et celui-ci s’envole. La crise de larmes est immédiate. Sa mère tente de le calmer et promet de lui trouver un autre ballon. Mais les pleurs ne cessent pas. Elle prend un mouchoir, essuie les larmes de son fils et le jette par terre. En remarquant ce genre de comportement, vous réalisez vite pourquoi la ville n’est pas très propre. </p>
	<p class="texte">Le mouchoir glisse sur le trottoir soufflé par la chaude brise désertique. Il va se perdre contre un poteau, avant de glisser sous une voiture. Il ressort un peu plus loin et s’arrête contre une lettre manuscrite.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous souhaitez prendre la lettre,<a href="vousetesleheros.php?chapitre=42" title="42" class="action">rendez-vous en 42</a>.</li>
		<li>Si les publicités et ce genre de détail ne vous intéressent pas,<a href="vousetesleheros.php?chapitre=4" title="4" class="action">rendez-vous en 4</a>.</li>
		<li>Si vous voulez ramassez le mouchoir et faire une leçon à cette femme,<a href="vousetesleheros.php?chapitre=33" title="33" class="action">rendez-vous en 33</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
