<div class="panneau_btn noprint">
	<div id="encart-aide">
		<h4 id="aid"><span>Aides de jeu</span></h4>
		<a href="viewtopic.php?f=2&t=124" title="Le Guide du Nouvel Arrivant"><img src="{T_THEME_PATH}/images/aide_guide_i.png"></a><br />
		<a href="viewtopic.php?f=2&t=32" title="Introduction - La lettre de présentation du jeu"><img src="{T_THEME_PATH}/images/aide_intro_i.png"></a><br />
		<a href="viewtopic.php?f=2&t=31" title="Découvrez le background du jeu"><img src="{T_THEME_PATH}/images/aide_back_i.png"></a><br />
		<a href="viewtopic.php?f=2&t=33" title="Contactez le staff"><img src="{T_THEME_PATH}/images/aide_staff_i.png"></a><br />
		<!-- <li><a href="viewtopic.php?f=5&t=44" title="Le background vous a plu ? Rejoignez-nous">Nous rejoindre</a></li> -->
		<!-- <li><a href="viewtopic.php?f=5&t=16" title="Passez par ici pour créer votre personnage, pas à pas...">Créer un personnage</a></li> -->
		<a href="viewtopic.php?f=2&t=98" title="Lexique - Pour comprendre notre jargon"><img src="{T_THEME_PATH}/images/aide_lexi_i.png"></a>
	</div>
	<div id="encart-video">
		<h4 id="rej"><span>Rejoignez-nous</span></h4>
		<div id='mediaspace'>Le chargement du lecteur vidéo est en cours...</div>
		<script type='text/javascript'>
		  var so = new SWFObject('./videos/player-no-viral.swf','mpl','200','124','9','#000000');
		  so.addParam('allowscriptaccess','false');
		  so.addParam('wmode','transparent');
		  so.addParam('allowfullscreen','true');
		  so.addVariable('author','Songes');
		  so.addVariable('file','http%3A%2F%2Fwww.vegas-elevation.com%2Fjeuderole%2Fvideos%2F015escape.flv');
		  so.addVariable('image','http%3A%2F%2Fwww.vegas-elevation.com%2Fjeuderole%2Fvideos%2Fvignettes%2Fencart.png');
		  so.addVariable('repeat','list');
		  so.addVariable('controlbar','none');
		  //so.addVariable('title','Escape to Vegas');
		  //so.addVariable('backcolor','000000');
		  //so.addVariable('frontcolor','ffffff');
		  //so.addVariable('lightcolor','cc9900');
		  //so.addVariable('screencolor','ffffff');
		  //so.addVariable('skin','http://developer.longtailvideo.com/svn/skins/beelden/beelden.zip');
		  //so.addVariable('stretching','exactfit');
		  so.write('mediaspace');
		</script>
	</div>
	<div id="encart-bouton">
		<div id="ligne-vote">
		<h4 id="vot"><span>Votez pour nous</span></h4> 
		<p>
			<!-- BEGIN lien_votes -->
			<a href="{lien_votes.URL}" title="Votez sur {lien_votes.TITRE}" target="_blank">{lien_votes.IMG_VOTE}<span class="invisible">{lien_votes.TITRE}</span></a>
			<!-- END lien_votes -->
		</p>
		</div>
		<!-- <div id="ligne-staff">
		<h4>~ Le staff de Vegas-Elevation ~</h4>
		<p>
			<!-- BEGIN staffs -->
			<a href="{staffs.LIEN}" title="{PRESENTATION} {staffs.NOM}">{staffs.IMG}</a>
			<!-- END staffs -->
		</p>
		</div>-->
		<!-- IF S_VIDEO -->
		<div id="ligne-video">
			<h4 id="vid"><span>Rejoignez-nous</span></h4> 
			<p>
				<!-- BEGIN lien_videos -->
				<a href="{lien_videos.URL}" title="{lien_videos.TITRE}" >{lien_videos.IMG_VIDEO}<span class="invisible">{lien_videos.TITRE}</span></a>
				<!-- END lien_videos -->
			</p>
		</div>
		<!-- ENDIF -->
		<div id="ligne-lien">
		<h4 id="lie"><span>Liens rapides</span></h4> 
		<p>
		<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
			<!-- IF not S_IS_BOT and U_MARK_FORUMS --><a href="{U_MARK_FORUMS}" accesskey="m" title="{L_MARK_FORUMS_READ}"><img src="{T_THEME_PATH}/images/btn1.png" /></a><!-- ENDIF -->
			<!-- IF S_DISPLAY_SEARCH -->
				<a href="{U_SEARCH_ACTIVE_TOPICS}" title="{L_SEARCH_ACTIVE_TOPICS}"><img src="{T_THEME_PATH}/images/btn1.png" /></a>
				<a href="{U_SEARCH_UNANSWERED}" title="{L_SEARCH_UNANSWERED}"><img src="{T_THEME_PATH}/images/btn1.png" /></a>
			<!-- ENDIF -->
		
			<!-- IF U_RESTORE_PERMISSIONS --><a href="{U_RESTORE_PERMISSIONS}" title="{L_RESTORE_PERMISSIONS}"><img src="{T_THEME_PATH}/images/btn1.png" /></a><!-- ENDIF -->
		
			<!-- IF S_DISPLAY_SEARCH -->
				<a href="{U_SEARCH_SELF}" title="{L_SEARCH_SELF}"><img src="{T_THEME_PATH}/images/btn1.png" /></a>
				<!-- IF S_USER_LOGGED_IN -->
					<a href="{U_SEARCH_RP_EN_COURS}" title="{L_SEARCH_SELF_RP}"><img src="{T_THEME_PATH}/images/btn1.png" /></a>
					<a href="{U_SEARCH_NEW}" title="{L_SEARCH_NEW}"><img src="{T_THEME_PATH}/images/btn1.png" /></a>
					<!-- ENDIF -->
			<!-- ENDIF -->
		<!-- ENDIF -->
		</p>
		</div>	
	</div>
</div>
