<!-- INCLUDE overall_header.html -->
<h2 class="gehtitre"><a class="policeVegas" href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>

<!-- IF FORUM_DESC or MODERATORS or U_MCP -->
<div>
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF FORUM_DESC --><div style="display: none !important;">{FORUM_DESC}<br /></div><!-- ENDIF -->
	<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}</p><!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>

		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->

		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->


<!-- Gestion des annonces -->

<!-- BEGIN descriptionrow -->
	
	<div class="forumbg<!-- IF descriptionrow.S_TOPIC_TYPE_SWITCH and (descriptionrow.S_POST_ANNOUNCE or descriptionrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
		<ul class="topiclist topics">
		<li class="row <!-- IF descriptionrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF descriptionrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF descriptionrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF descriptionrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl>
				<dt class="gehtitle" <!-- IF descriptionrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{descriptionrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{descriptionrow.TOPIC_FOLDER_IMG_ALT}">
					<h4><a href="{descriptionrow.U_VIEW_TOPIC}" class="topictitle">{descriptionrow.TOPIC_TITLE}</a><!-- IF descriptionrow.S_UNREAD_TOPIC --><a href="{descriptionrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><!-- IF descriptionrow.ATTACH_ICON_IMG -->{descriptionrow.ATTACH_ICON_IMG} <!-- ENDIF --></h4>
					<span>Description du lieu</span>
			
					<!-- IF descriptionrow.TOPIC_FIRST_POSTER_AVATAR --><span style="float: left; padding-top: 3px; margin-right: {descriptionrow.TOPIC_FIRST_POSTER_AVATAR_MARGIN}px;">{descriptionrow.TOPIC_FIRST_POSTER_AVATAR}</span><!-- ENDIF -->
					<!-- IF descriptionrow.S_TOPIC_UNAPPROVED or descriptionrow.S_POSTS_UNAPPROVED --><a href="{descriptionrow.U_MCP_QUEUE}">{descriptionrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF descriptionrow.S_TOPIC_REPORTED --><a href="{descriptionrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
					<br/>
					{descriptionrow.REPLIES} <!-- IF descriptionrow.REPLIES gt 1 --> réponses <!-- ELSE --> réponse<!-- ENDIF --> | 
					{descriptionrow.VIEWS} <!-- IF descriptionrow.VIEWS gt 1 --> lectures <!-- ELSE --> lecture <!-- ENDIF --><br/>
					<!-- IF descriptionrow.PAGINATION --><strong class="pagination"><span>{descriptionrow.PAGINATION}</span></strong><!-- ENDIF -->
					Description écrite {L_POST_BY_AUTHOR} {descriptionrow.TOPIC_AUTHOR_FULL} &raquo; {descriptionrow.FIRST_POST_TIME}
				</dt>
				<dd class="gehposts">&nbsp;</dd>
				<dd class="gehlastpost">
					<!-- IF descriptionrow.TOPIC_LAST_POSTER_AVATAR --><span class="geh_last_avatar">{descriptionrow.TOPIC_LAST_POSTER_AVATAR}</span><!-- ENDIF -->
					<img class="gehespace" src="{descriptionrow.TOPIC_FOLDER_IMG_SRC}" alt="{descriptionrow.TOPIC_FOLDER_IMG_ALT}"/><br/>
					<span><!-- IF not S_IS_BOT --><a href="{descriptionrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF -->{descriptionrow.LAST_POST_TIME}</span><br />
					<span>{L_LAST_POST} {L_POST_BY_AUTHOR}  <br/> {descriptionrow.LAST_POST_AUTHOR_FULL}</span>
				</dd>
			</dl>
		</li>
		</ul>
	</div>

<!-- END descriptionrow -->

<!-- IF S_HAS_SUBFORUM -->
<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="topic-actions" <!-- IF S_HAS_SUBFORUM -->style="margin-top: 2em;"<!-- ENDIF -->>

	<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<div class="buttons">
			<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}"><span></span><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a></div>
		</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search-box" style="margin-top: 9px;">
			<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">	
			<fieldset>
				<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />
				<input class="button2" type="submit" value="{L_SEARCH}" />	
				{S_SEARCH_LOCAL_HIDDEN_FIELDS} 
			</fieldset>
			</form>
		</div>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<div class="pagination" style="margin-top: 15px;">
			<!-- IF not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}" accesskey="m">{L_MARK_TOPICS_READ}</a> &bull; <!-- ENDIF --><!-- IF TOTAL_TOPICS -->{TOTAL_TOPICS}<!-- ENDIF -->
			<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	</div>
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_READ_ACCESS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<form action="{S_LOGIN_ACTION}" method="post">

		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>

			<div class="content">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		
				<fieldset class="fields1">
				<dl>
					<dt><label for="username">{L_USERNAME}:</label></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="password">{L_PASSWORD}:</label></dt>
					<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
					<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
					<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
				</dl>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
				</dl>
				{S_LOGIN_REDIRECT}
				</fieldset>
			</div>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		</form>
	<!-- ENDIF -->

<!-- ENDIF -->

<h2 class="gehtitre"><span class="policeVegas policeGris">RP En cours</span></h2>

<!-- BEGIN rpencoursrow -->
	
	<!-- IF not rpencoursrow.S_TOPIC_TYPE_SWITCH and not rpencoursrow.S_FIRST_ROW -->
		</ul>
	</div>
	<!-- ENDIF -->

	<!-- IF rpencoursrow.S_FIRST_ROW or not rpencoursrow.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg">
		<ul class="topiclist topics">
	<!-- ENDIF -->
	
		<li class="row<!-- IF rpencoursrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl>
				<dt class="gehtitle" <!-- IF rpencoursrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{rpencoursrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{rpencoursrow.TOPIC_FOLDER_IMG_ALT}">
					<h4><a href="{rpencoursrow.U_VIEW_TOPIC}" class="topictitle">{rpencoursrow.TOPIC_TITLE}</a><!-- IF rpencoursrow.S_UNREAD_TOPIC --><a href="{rpencoursrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><!-- IF rpencoursrow.ATTACH_ICON_IMG -->{rpencoursrow.ATTACH_ICON_IMG} <!-- ENDIF --></h4>
			
					<!-- IF rpencoursrow.TOPIC_FIRST_POSTER_AVATAR --><span style="float: left; padding-top: 3px; margin-right: {rpencoursrow.TOPIC_FIRST_POSTER_AVATAR_MARGIN}px;">{rpencoursrow.TOPIC_FIRST_POSTER_AVATAR}</span><!-- ENDIF -->
					<!-- IF rpencoursrow.S_TOPIC_UNAPPROVED or rpencoursrow.S_POSTS_UNAPPROVED --><a href="{rpencoursrow.U_MCP_QUEUE}">{rpencoursrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF rpencoursrow.S_TOPIC_REPORTED --><a href="{rpencoursrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
					<br/>
					{rpencoursrow.REPLIES} <!-- IF rpencoursrow.REPLIES gt 1 --> réponses <!-- ELSE --> réponse<!-- ENDIF --> | 
					{rpencoursrow.VIEWS} <!-- IF rpencoursrow.VIEWS gt 1 --> lectures <!-- ELSE --> lecture <!-- ENDIF --><br/>
					<!-- IF rpencoursrow.PAGINATION --><strong class="pagination"><span>{rpencoursrow.PAGINATION}</span></strong><!-- ENDIF -->
					RP ouvert {L_POST_BY_AUTHOR} {rpencoursrow.TOPIC_AUTHOR_FULL} &raquo; {rpencoursrow.FIRST_POST_TIME}
				</dt>
				<dd class="gehposts">&nbsp;</dd>
				<dd class="gehlastpost">
					<!-- IF rpencoursrow.TOPIC_LAST_POSTER_AVATAR --><span class="geh_last_avatar">{rpencoursrow.TOPIC_LAST_POSTER_AVATAR}</span><!-- ENDIF -->
					<img class="gehespace" src="{rpencoursrow.TOPIC_FOLDER_IMG_SRC}" alt="{rpencoursrow.TOPIC_FOLDER_IMG_ALT}"/><br/>
					<span><!-- IF not S_IS_BOT --><a href="{rpencoursrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF -->{rpencoursrow.LAST_POST_TIME}</span><br />
					<span>{L_LAST_POST} {L_POST_BY_AUTHOR}  <br/> {rpencoursrow.LAST_POST_AUTHOR_FULL}</span>
				</dd>
			</dl>
		</li>

	<!-- IF rpencoursrow.S_LAST_ROW -->
			</ul>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>Aucun RP n’est en cours en ce moment&hellip;</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
<!-- END rpencoursrow -->

<h2 class="gehtitre"><span class="policeVegas policeGris">RP Terminés</span></h2>

<!-- BEGIN archiverow -->
	
	<!-- IF not archiverow.S_TOPIC_TYPE_SWITCH and not archiverow.S_FIRST_ROW -->
		</ul>
	</div>
	<!-- ENDIF -->

	<!-- IF archiverow.S_FIRST_ROW or not archiverow.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg<!-- IF archiverow.S_TOPIC_TYPE_SWITCH and (archiverow.S_POST_ANNOUNCE or archiverow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
		<ul class="topiclist topics">
	<!-- ENDIF -->
	
		<li class="row <!-- IF archiverow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF archiverow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF archiverow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF archiverow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl>
				<dt class="gehtitle" <!-- IF archiverow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{archiverow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{archiverow.TOPIC_FOLDER_IMG_ALT}">
					<h4><a href="{archiverow.U_VIEW_TOPIC}" class="topictitle">{archiverow.TOPIC_TITLE}</a><!-- IF archiverow.S_UNREAD_TOPIC --><a href="{archiverow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><!-- IF archiverow.ATTACH_ICON_IMG -->{archiverow.ATTACH_ICON_IMG} <!-- ENDIF --></h4>
					<!-- IF archiverow.TOPIC_FIRST_POSTER_AVATAR --><span style="float: left; padding-top: 3px; margin-right: {archiverow.TOPIC_FIRST_POSTER_AVATAR_MARGIN}px;">{archiverow.TOPIC_FIRST_POSTER_AVATAR}</span><!-- ENDIF -->
					<!-- IF archiverow.S_TOPIC_UNAPPROVED or archiverow.S_POSTS_UNAPPROVED --><a href="{archiverow.U_MCP_QUEUE}">{archiverow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF archiverow.S_TOPIC_REPORTED --><a href="{archiverow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
					<br/>
					{archiverow.REPLIES} <!-- IF archiverow.REPLIES gt 1 --> réponses <!-- ELSE --> réponse<!-- ENDIF --> | 
					{archiverow.VIEWS} <!-- IF archiverow.VIEWS gt 1 --> lectures <!-- ELSE --> lecture <!-- ENDIF --><br/>
					<!-- IF archiverow.PAGINATION --><strong class="pagination"><span>{archiverow.PAGINATION}</span></strong><!-- ENDIF -->
					RP ouvert {L_POST_BY_AUTHOR} {archiverow.TOPIC_AUTHOR_FULL} &raquo; {archiverow.FIRST_POST_TIME}
				</dt>
				<dd class="gehposts">&nbsp;</dd>
				<dd class="gehlastpost">
					<!-- IF archiverow.TOPIC_LAST_POSTER_AVATAR --><span class="geh_last_avatar">{archiverow.TOPIC_LAST_POSTER_AVATAR}</span><!-- ENDIF -->
					<img class="gehespace" src="{archiverow.TOPIC_FOLDER_IMG_SRC}" alt="{archiverow.TOPIC_FOLDER_IMG_ALT}"/><br/>
					<span><!-- IF not S_IS_BOT --><a href="{archiverow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF -->{archiverow.LAST_POST_TIME}</span><br />
					<span>{L_LAST_POST} {L_POST_BY_AUTHOR}  <br/> {archiverow.LAST_POST_AUTHOR_FULL}</span>
				</dd>
			</dl>
		</li>

	<!-- IF archiverow.S_LAST_ROW -->
			</ul>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>Il n’y a pas encore de RPs archivés en ce lieu.</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
<!-- END archiverow -->

<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
	<form method="post" action="{S_FORUM_ACTION}">
		<fieldset class="display-options">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
<!-- IF not S_IS_BOT -->
			<label>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}</label>
			<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> 
			<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
<!-- ENDIF -->
		</fieldset>
	</form>
	<hr />
<!-- ENDIF -->

<!-- IF .descriptionrow  and not S_DISPLAY_ACTIVE or .archiverow and not S_DISPLAY_ACTIVE -->
	<div class="topic-actions">
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<div class="buttons" style="margin-top:-4px;">
			<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}"><span></span><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a></div>
		</div>
		<!-- ENDIF -->
	
		<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<div class="pagination">
			<!-- IF S_HAS_SUBFORUM and not S_IS_BOT and U_MARK_FORUMS --><a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a>  &bull;  <!-- ENDIF -->
			<!-- IF TOTAL_TOPICS and not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a> &bull;  <!-- ENDIF -->
			<!-- IF TOTAL_POSTS and not NEWEST_USER --> {TOTAL_POSTS}<!-- ELSEIF TOTAL_TOPICS and not NEWEST_USER --> {TOTAL_TOPICS}<!-- ENDIF -->
			<!-- IF TOTAL_USERS -->{TOTAL_USERS}<!-- ENDIF -->
			<!-- IF PAGINATION --> &bull;  <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			 &bull;  <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</div>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
	<h3>{L_FORUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
<!-- ENDIF -->
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
