<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous raccrochez et rangez votre téléphone portable dans la poche arrière de votre jean.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous décidez de jouer de nouveau au machine à sous, <a href="vousetesleheros.php?chapitre=16" title="16" class="action">rendez-vous en 16</a>.</li>
		<li>Si vous décidez de quitter le Mirage, <a href="vousetesleheros.php?chapitre=81" title="81" class="action">Rendez-vous alors en 81</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
