<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">La réceptionniste vous accueille avec un large sourire. Quelque chose d'indéfinissable la rend vraiment splendide. Vous ne sauriez dire ce que vous trouvez de si exceptionnelle chez elle. Mais elle semble différente. Passé ce trouble, vous lui tendez une liasse. Elle change alors quelques-uns de vos billets contre une centaine de jetons. Côté pile le volcan, côté face le tigre... Vous la quittez et gagnez l’une des immenses salles avec les machines à sous. Certains joueurs jouent en sirotant une bière offerte par le casino, d’autres joueurs plus convulsifs jouent carrément sur deux machines simultanément. La folie du jeu n’aura jamais de limite à Vegas.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<p class="question">Actions</p>
	<ul class="action list">
		<li>Si vous êtes une créature immortelle, <a href="vousetesleheros.php?chapitre=35" title="35" class="action">rendez-vous en 35</a>.</li>
		<li>Sinon, frêle éphémère, <a href="vousetesleheros.php?chapitre=16" title="16" class="action">rendez-vous en 16</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
