<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous quittez finalement le Luxor, pour vous rendre dans le quartier de Downtown. Vous arrivez sur le perron de l’entrée du Luxor. Le voiturier vous demande si vous disposez d’un véhicule. D’un simple hochement de tête vous répondez négativement. Il vous demande alors si vous logez au Luxor ou non.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous avez les clefs de votre chambre, <a href="vousetesleheros.php?chapitre=63" title="63" class="action">rendez-vous en 63</a>.</li>
		<li>Si vous ne les possédez pas et décidez de retourner chercher vos clefs, <a href="vousetesleheros.php?chapitre=28" title="28" class="action">rendez-vous en 28</a>.</li>
		<li>Si vous ne les possédez pas et comptez aller les chercher plus tard, <a href="vousetesleheros.php?chapitre=71" title="71" class="action">rendez-vous en 71</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
