<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous arrivez à la réception du Luxor et commencez à attendre. L’impatience vous gagne car, même si la file d’attente vous semble courte, une femme semble accaparer deux réceptionnistes sous prétexte que son chien n’aurait pas eu les bonnes croquettes ce matin au petit déjeuner. Vous hésitez à craquer quand un homme devant vous s’en mêle. Le ton montant, la sécurité intervient avec un professionnalisme évident. On promet à la vieille bique de la conduire directement au bureau du directeur et que son problème va être régler personnellement. Quant à l’homme qui râlait, il est conduit aussi vers une autre réceptionniste qui a apparemment été appelée en renfort. Elle sera à sa disposition pour compenser la gêne occasionnée. À Vegas le client est vraiment roi apparemment.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous avez utilisé votre pouvoir de clairvoyance, <a href="vousetesleheros.php?chapitre=67" title="67" class="action">rendez-vous en 67</a>.</li>
		<li>Si vous n’avez pas encore utilisé votre pouvoir, <a href="vousetesleheros.php?chapitre=74" title="74" class="action">rendez-vous en 74</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
