<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous glissez votre avant-dernier jeton dans la fente. La machine à sous se lance quand vous tirez sur le manche en acier luisant. Les rouleaux tournent. Un cri attire votre attention. Derrière vous une jeune femme exulte et crie sa joie. Bien des regards se tournent vers elle. Elle vient de gagner le jackpot ? Non, elle a seulement gagner 1000 dollars, mais sa joie est aussi impressionnante que palpable. Elle s’est jetée sur son voisin en criant “Yatttttaaaaaaa”. </p>
	<p class="texte">Souriant, vous reportez votre attention à votre machine. Dans l’euphorie, vous n’aviez pas remarqué mais vous avez gagné un repas pour deux, tout inclus, dans un des grands restaurants du Mirage. Votre ticket gagnant est d’ailleurs délivré à l’instant même par l’imprimante intégrée à la machine. Pendant l’impression, vous insérez le dernier jeton, mais la chance ne vous aura souri qu’une seule fois. Vous prenez votre reçu et allez le changer contre un coupon plus officiel à la réception. </p>
	<p class="texte">Cinq minutes plus tard, vous quittez le Mirage, votre coupon gagnant en poche.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li><a href="vousetesleheros.php?chapitre=81" title="81" class="action">Rendez-vous en 81</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
