<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Le vigile de la sécurité, dans son costume trois pièces se tournent alors vers vous comme vous êtes à la fin de la file d’attente. Il vous tend une main ferme comme il l’a fait aux deux personnes précédentes et vous invite à le suivre au comptoir. Pour vous dédommager de la gêne occasionnée, il compte vous faire disposez du service V.I.P. Vos bagages seront conduits dans votre chambre, vous disposerez d’une limousine pour votre séjour et vous aurez des places réservées dans tous restaurants, bars et à toutes les tables du casino.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous acceptez,<a href="vousetesleheros.php?chapitre=88" title="88" class="action">rendez-vous en 88</a>.</li>
		<li>Si vous refusez,<a href="vousetesleheros.php?chapitre=74" title="74" class="action">rendez-vous en 74</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
