<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">L’agent de sécurité se retire discrètement, la foule a gardé son calme. Aucune vague n’a eu lieu. Parfait ! L’ambiance est préservée et c’est là tout l’art d’un service de sécurité efficace. Le temps que vous regardiez les caméras, la file a avancé, et c’est déjà à votre tour. La femme au comptoir vous salue poliment. Professionnelle, elle vous demande votre nom ou votre billet de réservation. Vous lui donnez votre billet électronique et elle le scanne avec une gachette. Sur l’écran tactile devant vous, votre nom et votre prénom apparaisse, votre suite est bien enregistrée. Le règlement ayant été fait à l’avance, elle vous délivre immédiatement votre carte électronique. Vous en avez terminé.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li>Si vous souhaitez quitter le Luxor,<a href="vousetesleheros.php?chapitre=26" title="26" class="action">rendez-vous en 26</a>.</li>
		<li>Si vous souhaitez vous rendre à votre chambre,<a href="vousetesleheros.php?chapitre=48" title="48" class="action">rendez-vous en 48</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
