<!-- INCLUDE presentation/overall_header.html -->
	<p class="texte">Vous n’avez pas esquivé du bon côté. Sa voleuse d’âme vous a traversé le thorax. Toute sa surpuissance démoniaque a guidé sa main. Elle a pénétré votre corps avec une aisance déconcertante. Il tient votre cœur à pleine main et vous avez le temps de le voir vous l’arracher. Avant que votre hôte humain ne meurt. Il pourrait être satisfait de sa victoire et sourire. Mais il n’en est rien. Il vous regarde et attrape votre corps. Ses ailes noires se déploie. C’est un ange déchu, il est privé de ses plumes. Ses ailes sont marqués par les cicatrices et vos yeux se seraient baignés de larmes. Sa beauté guerrière est belle. Vous mourrez après un bref combat contre une puissante créature. Vous connaissez votre destinée. Sa voleuse d’âme va boire votre âme. L’obscurité vous envahit quand votre corps touche quelque chose. Est-ce le sol de l’ascenseur ? Est-ce qu’il vous a lâché et que vous vous êtes fracassé 50 étages plus bas ? Vous l’ignorez.</p>
<!-- INCLUDE presentation/overall_coeur.html -->
	<ul class="action list">
		<li><a href="vousetesleheros.php?chapitre=96" title="96" class="action">Rendez-vous en 96</a>.</li>
	</ul>
<!-- INCLUDE presentation/overall_footer.html -->  
